.brandfolder-browser {
  position: relative;
  width: 100%;
}

.brandfolder-browser fieldset,
.brandfolder-browser fieldset:not(.fieldgroup) {
  position: static;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.brandfolder-browser fieldset > legend,
.brandfolder-browser fieldset:not(.fieldgroup) > legend {
  position: static;
  top: 0;
  letter-spacing: inherit;
  text-transform: none;
  /*font-size: 1em;*/
  font-weight: bold;
  margin: 0 0 0.5rem;
}

.brandfolder-browser fieldset.brandfolder-browser-controls {
  background: #efefef;
  padding: 1rem;
  margin: 0 0 1rem;
}

.brandfolder-browser fieldset.brandfolder-browser-controls > .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.brandfolder-browser fieldset.brandfolder-browser-control-group > .fieldset-wrapper > .form-item:first-child {
  margin-top: 0;
}

.brandfolder-browser .brandfolder-browser-controls .brandfolder-browser-control-group {
  flex: 1 1 auto;
  margin: 0 1rem 0 0;
}

.brandfolder-browser .brandfolder-browser-controls .brandfolder-browser-control-group--search {
  flex-basis: 100%;
  margin: 0 0 1rem;
}

.brandfolder-browser .brandfolder-browser-controls .form-item-brandfolder-controls-search-text {
  display: inline-block;
}

.brandfolder-browser .brandfolder-browser-control-group--labels label {
  margin: 0 0 0.5rem;
}

.brandfolder-browser .brandfolder-browser-controls .brandfolder-browser-controls__tag-filter-mode > .form-radios > .form-item {
  display: inline-flex;
  margin: 0 1rem 0.5rem 0;
  align-items: center;
}
.brandfolder-browser .brandfolder-browser-controls .brandfolder-browser-controls__tag-filter-mode input[type="radio"] {
  margin: 0 0.25rem 0 0;
}

.brandfolder-browser .brandfolder-browser-controls__tag_list {
  width: 100%;
}
.brandfolder-browser .brandfolder-browser-controls__tag_list > .fieldset-wrapper > .form-item {
  display: inline-flex;
  margin: 0 1rem 0.5rem 0;
  align-items: center;
}
.brandfolder-browser .brandfolder-browser-controls__tag_list input[type="checkbox"] {
  margin: 0 0.25rem 0 0;
}

.brandfolder-browser .brandfolder-browser-controls__new_tag_input_group > .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.brandfolder-browser .brandfolder-browser-controls__new_tag_input_group > .fieldset-wrapper > .form-item,
.brandfolder-browser .brandfolder-browser-controls__new_tag_input_group > .fieldset-wrapper > input[type="submit"] {
  margin: 0 1rem 1rem 0;
}
.brandfolder-browser .brandfolder-browser-controls__new_tag_input_group > .fieldset-wrapper > .form-item {
  flex: 1 1 auto;
}
.brandfolder-browser .brandfolder-browser-controls__new_tag_input_group > .fieldset-wrapper > input[type="submit"] {
  flex: 0 0 auto;
}
.brandfolder-browser .brandfolder-browser-controls__new_tag_input_group input[type="text"] {
  width: 100%;
}

.brandfolder-browser .brandfolder-browser-control-group--sort .form-item {
  float: left;
  margin: 0 1rem 1rem 0;
}
.brandfolder-browser .brandfolder-browser-control-group--sort label {
  margin: 0 0 0.5rem;
}

.brandfolder-browser .brandfolder-asset-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.5rem;
}

.brandfolder-browser .brandfolder-asset {
  flex: 1;
  margin: 0.5rem;
  min-width: 100px;
  max-width: 175px;
  position: relative;
}

.brandfolder-browser figure {
  margin: 0;
}

.brandfolder-browser .brandfolder-asset .brandfolder-asset__close_button,
.brandfolder-browser .brandfolder-asset .brandfolder-asset__heading,
.brandfolder-browser .brandfolder-asset__attachments {
  display: none;
}

.brandfolder-browser .brandfolder-asset .brandfolder-asset__overview {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
}

.brandfolder-browser .brandfolder-asset .brandfolder-asset__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  padding: 0.5rem;
}

.brandfolder-browser .brandfolder-asset .bf-asset-metadata--description {
  display: none;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  padding: 1rem 1rem 1rem 3rem;
  margin: 0;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__close_button,
.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__heading,
.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__attachments {
  display: block;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__close_button {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 2rem;
  font-size: 2rem;
  padding: 0 0.5rem 0.25rem;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__overview,
.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__attachments {
  min-width: 150px;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .bf-asset-metadata--name {
  display: none;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .bf-asset-metadata--description {
  display: inline-block;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__overview {
  flex: 0 1 30%;
  display: block;
  width: auto;
  height: auto;
  position: static;
  margin-right: 3rem;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__overview figure {
  margin-top: 1.5rem;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__info,
.brandfolder-browser .brandfolder-asset.brandfolder-asset--active:hover .brandfolder-asset__info {
  display: block;
  position: static;
  top: auto;
  left: auto;
  z-index: 0;
  width: auto;
  height: auto;
  padding: 0.5rem;
}

.brandfolder-browser .brandfolder-asset.brandfolder-asset--active .brandfolder-asset__attachments {
  flex: 1 1 auto;
}

.brandfolder-browser .brandfolder-asset__attachment-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.brandfolder-browser .brandfolder-asset__attachment-list .brandfolder-attachment {
  margin: 0 0 1rem;
  padding: 0.5rem;
}
